body {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 1.6rem;
  color: gold;
  background: #222;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 50vw;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}



@media screen and (max-width: 786px) {
  body {
    width: 80vw;
  }
}