.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filter label {
  margin-right: 0.5rem;
    flex-direction: column;
  display: flex;
  flex-direction: column;
}

.filter select,
.filter input[type='date'] {
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;

}

.filter button {
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 1.2rem;
  margin: auto 0;
  font-size: 1rem;
  cursor: pointer;
}

.filter button:hover {
  background-color: #0051a3;
}

.filter button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.filter select,
.filter input[type='date'],
.filter button {
  width: 8rem;
}